node_modules/

.env
config/config.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Build / temp files
dist/
build/
tmp/
temp/


# Coverage (testing)
coverage/

*.pid
*.seed